{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<<<<<<< HEAD
    <h2>Liste des formations</h2>
    <a href="{{ path('imie_skills_promo_add') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter une formation</a>
    <hr/>
    <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
    <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
    <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
    <hr/>
    <table class="table table-striped">
        <thead>
        <th>Formation</th>
        <th>promo</th>
        </thead>
        <tbody>
        {% for promo in promos %}
                <td>{{ promo.course.course }}</td>
                <td>{{ promo.promoName }}</td>
                <td><a href="{{ path('imie_skills_promo_modify', {id:promo.id}) }}"><span class="glyphicon glyphicon-cog"></span></a></td>
                <td><a href="{{ path('imie_skills_promo_delete', {id:promo.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock article %}
