{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<h2><span class="glyphicon glyphicon-user"></span> Liste des utilisateurs</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_user_add') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un utilisateur</a>
<hr/>
<table class="table table-striped">
  <thead>
    <th>Nom</th>
    <th>Adresse</th>
    <th>Mail</th>
    <th>Téléphone</th>
    <th>Anniversaire</th>
    <th>Description</th>
    <th>Compétences</th>
  </thead>
  <tbody>
    {% for user in users if users is defined%}
    <tr>
      <td><a href="{{ path('imie_skills_user_details', {id:user.id})}}">{{ user.userFullName }}</a></td>
      <td>{{ user.userAddress }}</td>
      <td>{{ user.Email }}</td>
      <td>{{ user.userPhoneNumber }}</td>
      <td>{{ user.userBirthday|date('d/m/Y') }}</td>
      <td>{{ user.userDescription }}</td>
      <td>{% if user.skills %}<ul>
        {% for skill in user.skills %}
        <li>{{ skill.skillName }}</li>
        {% endfor %}
        
      </ul>{% endif %}</td>
      <td><a href="{{ path('imie_skills_user_modify', {id:user.id}) }}"><span class="glyphicon glyphicon-cog"></span></a></td>
      <td><a href="{{ path('imie_skills_user_delete', {id:user.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
      <hr/>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock article %}
