{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li class="active">Liste des utilisateurs</li>
</ol>
<h2><span class="glyphicon glyphicon-user"></span> Liste des utilisateurs</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_home') }}" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
<a class="btn btn-primary" href="{{ path('imie_skills_user_add') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un utilisateur</a>
<hr/>
<table class="table table-striped">
  <thead>
    <th>Nom</th>
    <th>Mail</th>
    <th>Compétences</th>
  </thead>
  <tbody>
    {% for user in users if users is defined %}
    <tr>
      <td><a href="{{ path('imie_skills_user_details', {id:user.id})}}">{{ user.userFullName }}</a></td>
      <td>{{ user.Email }}</td>
      <td>{% if user.skills %}<ul>
        {% for tabSkill in user.skills %}
        <li>{{ tabSkill.skill.skillName }}</li>
        {% endfor %}
      </ul>{% endif %}</td>
      <td><a href="{{ path('imie_skills_user_modify', {id:user.id}) }}"><span class="glyphicon glyphicon-cog"></span></a></td>
      <td><a href="{{ path('imie_skills_user_delete', {id:user.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
      <hr/>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock article %}
