{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<h2>Mon profil</h2>
<a href="{{ path('imie_skills_user_modify', {id: user.id}) }}"><span class="glyphicon glyphicon-cog"> Modifier mon profil</a>
<hr/>
<p>
  <h3>{{ user.userFirstName }}</h3><h3>{{ user.userLastName }}</h3><p>{{ user.userEnable }}</p>
  <p>{{ user.userAddress }}</p>
  <p>{{ user.userMail }}</p>
  <p>{{ user.userPhoneNumber }}</p>
  <p>{{ user.userBirthday|date('d/m/Y') }}</p>
  <hr/>
  <p>{{ user.userDescription }}</p>
</p>
{% endblock article %}
