{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<h2><span class="glyphicon glyphicon-bell"></span> Liste des notifications</h2>
<hr/>
<a href="{{ path('imie_skills_notification_add') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter une notification</a>
<hr/>
<table class="table table-striped">
  <thead>
    <th>Nom</th>
    <th>Description</th>
  </thead>
  <tbody>
    {% for notification in notifications if notifications is defined %}
    <tr>
      <td><a href="{{ path('imie_skills_notification_details', {'id':notification.id}) }}">{{ notification.notificationName }}</a></td>
      <td>{{ notification.notificationDescription }}</td>
      <td><a href="{{ path('imie_skills_notification_delete', {'id':notification.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    <hr/>
    {% endfor %}
  </tbody>
</table>
{% endblock article %}
