<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Bienvenue{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/imieskills/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/imieskills/css/styles.css') }}" />
  {% endblock %}
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    {% block menu %}
    {% include 'menu.html.twig' %}
    {% endblock menu %}
  </nav>
  <main class="container">
    {% block body %}
    {% endblock body %}
  </main>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <a href="{{ path('imie_skills_home') }}">IMIE Skills</a>
      <span> - © 2015 - </span>
      <a href="http://imie-ecole-informatique.fr" target="imie-nantes">IMIE Nantes</a>
      <span> - DL11 - </span>
      <a href="{{ path('imie_skills_contact') }}"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
    </div>
  </nav>
  {% block javascripts %}
  <script src="{{ asset('bundles/imieskills/js/jquery-1.11.3.min.js') }}"></script>   
  <script src="{{ asset('bundles/imieskills/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('bundles/imieskills/js/confirmation.js') }}"></script>
  {% endblock javascripts %}
</body>
</html>
