<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Bienvenue{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/imieskills/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/imieskills/css/styles.css') }}" />
  {% endblock %}
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    {% block menu %}
    {% include 'menu.html.twig' %}
    {% endblock menu %}
  </nav>
  <hr/>
  <main id="main">
    {% block body %}
    {% endblock body %}
  </main>
  <hr/>
  <nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
    <span>IMIE Skills</span>
    <span> - </span>
    <a href="{{ path('imie_skills_contact') }}">Contact</a>
  </nav>
  {% block javascripts %}
  <script src="{{ asset('bundles/imieskills/js/bootstrap.min.js') }}"></script>
  {% endblock javascripts %}
</body>
</html>
