<nav>
    <ul class="nav nav-tabs">
        <li role="presentation">
            <a href="{{ path('imie_skills_home') }}">Accueil</a>
        </li>
        <li role="presentation">
            <a href="{{ path('imie_skills_user_my_profile', {'id': 1}) }}">Mon profil</a>
        </li>
        <li role="presentation">
            <a href="{{ path('imie_skills_user_my_profile', {'id': 1}) }}">Mes projets</a>
        </li>
        <li role="presentation">
            <a href="{{ path('imie_skills_project_index') }}">Tous les projets</a>
        </li>
        <li role="presentation">
            <a href="{{ path('imie_skills_contact') }}">Contact</a>
        </li>
        <li role="presentation">
            <a href="{{ path('imie_skills_search') }}">Recherche</a>
        </li>
    </ul>
