<nav>
    <ul class="nav nav-tabs">
        <li role="presentation">
            <a href="{{ path('imie_skills_home') }}">Accueil</a>
        </li>
        <li role="presentation">
            <a href="{{ path('imie_skills_user_me', {'id': 1}) }}">Mon profil</a>
        </li>
        <li role="presentation">
            <a href="{{ path('imie_skills_user_me', {'id': 1}) }}">Mes projets</a>
        </li>
        <li role="presentation">
            <a href="{{ path('imie_skills_project_index') }}">Tous les projets</a>
        </li>
        <li role="presentation">
            <a href="{{ path('imie_skills_contact') }}">Contact</a>
        </li>
        <li role="presentation">
            <a href="{{ path('imie_skills_search') }}">Recherche</a>
        </li>
        <li role="presentation">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que {{ app.user.username }}
                -
                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% endif %}
        </li>
    </ul>
