{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li><a href="{{ path('imie_skills_project_index') }}">Liste des projets</a></li>
  <li class="active">Détails du projet</li>
</ol>
<h2><span class="glyphicon glyphicon-blackboard"></span> Détail du projet</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_project_index') }}" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
{% if (project.creator.id == app.user.id or is_granted("ROLE_ADMIN"))%}
<a class="btn btn-warning" href="{{ path('imie_skills_project_modify', {id:project.id}) }}" role="button"><span class="glyphicon glyphicon-cog"></span> Modifier</a>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".project{{project.id}}"><span class="glyphicon glyphicon-trash"></span></button>
<div class="modal fade project{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">Supprimer {{ project.projectName }} ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <a class="btn btn-danger" href="{{ path('imie_skills_project_delete', {id:project.id}) }}" role="button">Confirmer</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
<hr/>
<h3>Nom du projet : {{ project.projectName }}</h3>{% if project.image is not null %}<img src="{{ asset(project.image.webPath) }}" alt="{{ asset(project.image.imageAlt) }}" width="128" height="128" class="img-rounded">{% endif %}{% if project.creator.id == app.user.id %}<span>Vous êtes Fondateur de ce projet</span>{% endif %}
<hr/>
<p>Phase d'avancement : {{ project.state.statut }}</p>
<p>Progression de la phase en cours : {{ project.projectProgress }} %</p>
<p>Date de départ estimée : {{ project.projectEstimatedStart|date('d/m/y') }}</p>
<p>Date de fin estimée : {{ project.projectEstimatedEnd|date('d/m/y') }}</p>
<p>Date de départ réelle :  {{ project.projectStart|date('d/m/y') }}</p>
<p>Date de fin réelle : {{ project.projectEnd|date('d/m/y') }}</p>
<hr/>
<p>Description : {{ project.projectDescription }}</p>
<hr/>
<h3>Compétences demandées :</h3>
<table class="table table-striped">
  <tbody>
    {% for skill in project.skills if project.skills is defined %}
    <tr>
      <td>{{ skill.skillName }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr/>
<h3>Chef de projet : {% if project.manager is not null %}{{ project.manager.userFullName }}{% else %}À recruter{% endif %}</h3>
<h3>Équipe :</h3>
<table class="table table-striped">
  <tbody>
    {% if project.users is not null %}
    {% for user in project.users if project.users is defined %}
    <tr>
      <td>{{ user.userFullName }}</td>
      <td>
        {% for skill in user.skills %}
        <ul>{{ skill.skill.skillName }} {{skill.level}}</ul>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
    {% else %}À recruter
    {% endif %}
<<<<<<< HEAD
    <hr/>
    <h3>Nom du projet : {{ project.projectName }}</h3>{% if project.image is not null %}<img src="{{ asset(project.image.webPath) }}" alt="{{ asset(project.image.imageAlt) }}" width="100" height="100">{% endif %}{% if project.creator.id == app.user.id %}<span>Vous êtes Fondateur de ce projet</span>{% endif %}
    <hr/>
    <p>Phase d'avancement : {{ project.state.statut }}</p>
    <p>Progression de la phase en cours : {{ project.projectProgress }} %</p>
    <p>Date de départ estimée : {{ project.projectEstimatedStart|date('d/m/y') }}</p>
    <p>Date de fin estimée : {{ project.projectEstimatedEnd|date('d/m/y') }}</p>
    <p>Date de départ réelle :  {{ project.projectStart|date('d/m/y') }}</p>
    <p>Date de fin réelle : {{ project.projectEnd|date('d/m/y') }}</p>
    <hr/>
    <p>Description : {{ project.projectDescription }}</p>
    <hr/>
    <h3>Compétences demandées :</h3>

    <table class="table table-striped">
        <tbody>
            {% for skill in project.skills if project.skills is defined %}
                <tr>
                    <td>{{ skill.skillName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr/>
    <h3>Chef de projet : {% if project.manager is not null %}{{ project.manager.userFullName }}{% else %}A recruter{% endif %}</h3>
    <h3>Équipe :</h3>
    <tbody>
        {% if project.users is not null %}
            {% for user in project.users if project.users is defined %}
                <tr>
                    <td>{{ user.userFullName }}</td>
                    <td>
                        {% for skill in user.skills %}
                            <ul>{{ skill.skill.skillName }} {{skill.level}}</ul>
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('imie_skills_notification_invitation',{id_project:project.id), {id_user:user.id})}}"><button type="button" class="btn btn-primary" id="notification">envoyer une invitation</button></a></td><br/>
        </tr>
    {% endfor %}
{% else %}A recruter
{% endif %}

</tbody>
=======
  </tbody>
>>>>>>> 6bc1730bd42763fbea6d8b1c76cebc32e88abc7f
</table>
{% endblock article %}
