{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
    <h2>Détail du projet</h2>
    <hr/>
    <a href="{{ path('imie_skills_project_index') }}">Retour à la liste des projets</a> <a href="{{ path('imie_skills_project_modify', {id:project.id}) }}">Modifier</a> <a href="{{ path('imie_skills_project_delete', {id:project.id}) }}">Supprimer</a>
    <hr/>
    <h3>Nom du projet : {{ project.projectName }}</h3>{% if project.image is not null %}<img src="{{ asset(project.image.webpath) }}" alt="{{ asset(project.image.imageAlt) }}" width="100" height="100">{% endif %}    
    <p>Phase d'avancement : {{ project.state.statut }}</p>
    <p>Progression de la phase en cours : {{ project.projectProgress }} %</p>
    <p>Date de départ estimée : {{ project.projectEstimatedStart|date('d/m/y') }}</p>
    <p>Date de fin estimée : {{ project.projectEstimatedEnd|date('d/m/y') }}</p>
    <p>Date de départ réelle : </p>
    <p>Date de fin réelle : </p>
    <p>Description : {{ project.projectDescription }}</p>
    <h3>Compétences demandées :</h3>
    <ul>
        {% for skill in project.skills if project.skills is defined %}
            <li>{{ skill.skillName }}</li>
            {% endfor %}
    </ul>
    <h3>Chef de projet : {{ project.manager.userFullName }}</h3>
    <h3>Équipe :</h3>
    <ul>
        {% for user in project.users if project.users is defined %}
            <li>{{ user.userFullName }}</li>
            {% endfor %}
    </ul>
    <hr/>
{% endblock article %}
