{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<h2><span class="glyphicon glyphicon-blackboard"></span> Liste des projets</h2>
<hr/>
<a href="{{ path('imie_skills_project_add') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un projet</a>
<hr/>
<table class="table table-striped">
  <thead>
    <th>Nom</th>
    <th>Chef de projet</th>
    <th>Phase</th>
    <th>Compétences demandées</th>
  </thead>
  <tbody>
    {% if projects %}
    {% for project in projects if projects is defined %}
    <tr>
      <td><a href="{{ path('imie_skills_project_details', {id:project.id})}}">{{ project.projectName }}</a></td>
      <td>{% if project.manager is not null %}{{ project.manager.userFullName }}{% else %}A recruter{% endif %}</td>
      <td>{{ project.state.statut }}</td>
      <td><ul>
        {% for skill in project.skills if project.skills is defined %}
        <li>{{ skill.skillName }}</li>
        {% endfor %}
      </ul></td>
      <td><a href="{{ path('imie_skills_project_modify', {id:project.id}) }}"><span class="glyphicon glyphicon-cog"></span></a></td>
      <td><a href="{{ path('imie_skills_project_delete', {id:project.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    <hr/>
    {% endfor %}
  </tbody>
</table>
{% else %}
Il n'y a aucun projet actuellement.
{% endif %}
{% endblock article %}
