{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li><a href="{{ path('imie_skills_project_index') }}">Liste des projets</a></li>
  <li class="active">Modification du projet</li>
</ol>
<h2><span class="glyphicon glyphicon-knight"></span> Modification du projet</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_project_index') }}" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
<hr/>
<form method="post" action="{{ path('imie_skills_project_modify', {id: id}) }}" {{ form_enctype(form) }}>
  {{ form(form) }}
</form>
{% endblock article %}
