{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
    {% for school in school %}
        <ol class="breadcrumb">
            <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
            <li><a href="{{ path('imie_skills_school_index') }}">Liste des ecoles</a></li>
            <li class="active">{{ school.schoolName }}</li>
        </ol>
        <h2><span class="glyphicon glyphicon-education"></span>{{ school.schoolName }}</h2>
        <hr/>
        <a class="btn btn-primary" href="javascript:history.go(-1)" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
        <a class="btn btn-primary" href="{{ path('imie_skills_course_add') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter une formation</a>
        <hr/>
        <table class="table table-striped">
            <thead>
            <th>Nom</th>
            </thead>
            <tbody>
            {% for course in school.courses %}
                <tr>
                    <td><a href="{{ path('imie_skills_course_detail', {id:course.id}) }}">{{ course.course }}</span></a></td>
                    <td><a href="{{ path('imie_skills_course_modify', {id:course.id}) }}"><span class="glyphicon glyphicon-cog"></span></a></td>
                    <td><a href="{{ path('imie_skills_course_delete', {id:course.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock article %}
