{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li class="active">Liste des types de notification</li>
</ol>
<h2><span class="glyphicon glyphicon-bell"></span> Liste des types de notification</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_home') }}" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
<a class="btn btn-info" href="{{ path('imie_skills_notification_add') }}" role="button"><span class="glyphicon glyphicon-plus"></span> Ajouter un type de notification</a>
<hr/>
<table class="table table-striped">
  <thead>
    <th class="col-md-11">Nom</th>
    <th class="col-md-1">Supprimer</th>
  </thead>
  <tbody>
    {% for notificationType in notificationTypes if notificationTypes is defined %}
    <tr>
      <td><a href="{{ path('imie_skills_notification_type_details', {id:notificationType.id}) }}">{{ notificationType.notificationTypeName }}</a></td>
      <td>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".notificationType{{notificationType.id}}"><span class="glyphicon glyphicon-trash"></span></button>
        <div class="modal fade notificationType{{notificationType.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body">Supprimer le type de notification {{ notificationType.notificationTypeName }} ?</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a class="btn btn-danger" href="{{ path('imie_skills_notification_type_delete', {id:notificationType.id}) }}">Confirmer</a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock article %}
