{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li class="active">Liste des niveaux</li>
</ol>
<h2><span class="glyphicon glyphicon-knight"></span> Liste des niveaux</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_home') }}" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
<a class="btn btn-primary" href="{{ path('imie_skills_level_add') }}" role="button"><span class="glyphicon glyphicon-plus"></span> Ajouter un niveau</a>
<hr/>
<table class="table table-striped">
  <thead>
    <th>Niveau</th>
  </thead>
  <tbody>
    {% for level in levels if levels is defined %}
    <tr>
      <td>{{ level.level }}</a></td>
      <td><a href="{{ path('imie_skills_level_delete', {id:level.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock article %}
