{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li><a href="{{ path('imie_skills_course_index') }}">Liste des formations</a></li>
  <li class="active">Ajout d'une formation</li>
</ol>
<h2><span class="glyphicon glyphicon-education"></span> Ajout d'une formation</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_course_index') }}" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
<hr/>
<form method="post" action="{{ path('imie_skills_course_add') }}" {{ form_enctype(form) }}>
  {{ form(form) }}
</form>
{% endblock article %}
