{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
{% for course in course %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li><a href="{{ path('imie_skills_course_index') }}">Listes des cursus</a></li>
  <li class="active">Détails du cursus</li>
</ol>
<h2><span class="glyphicon glyphicon-education"></span> Détails du cursus</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_course_index') }}" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
<hr/>
<table class="table table-striped">
  <thead>
    <th class="col-md-12">Promo</th>
  </thead>
  <tbody>
    {% for promo in course.promos %}
    <tr>
      <td><a href="{{ path('imie_skills_promo_detail', {id:promo.id}) }}">{{ promo.promoName }}</span></a></td>
      <td><a class="btn btn-warning" href="{{ path('imie_skills_promo_modify', {id:promo.id}) }}" role="button"><span class="glyphicon glyphicon-cog"></span></a></td>
      <td>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".course{{course.id}}"><span class="glyphicon glyphicon-trash"></span></button>
        <div class="modal fade course{{course.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body">Supprimer le cursus {{ course.course }} ?</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a class="btn btn-danger" href="{{ path('imie_skills_course_delete', {id:course.id}) }}" role="button">Confirmer</a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock article %}
