{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li class="active">Liste des formations</li>
</ol>
<h2><span class="glyphicon glyphicon-education"></span> Liste des formations</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_course_add') }}" role="button"><span class="glyphicon glyphicon-plus"></span> Ajouter une formation</a>
<hr/>
<table class="table table-striped">
  <thead>
    <th>Nom</th>
  </thead>
  <tbody>
    {% for course in courses if courses is defined %}
    <tr>
      <td>{{ course.course }}</td>
      <td><a href="{{ path('imie_skills_course_modify', {id:course.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
      <td><a href="{{ path('imie_skills_course_delete', {id:course.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock article %}
