{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li><a href="{{ path('imie_skills_course_index') }}">Liste des cursus</a></li>
  <li class="active">Modification d'un cursus</li>
</ol>
<h2><span class="glyphicon glyphicon-education"></span> Modification d'un cursus</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_course_index') }}"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
<hr/>
<form method="post" action="{{ path('imie_skills_course_modify', {id:id}) }}" {{ form_enctype(form) }}>
  {{ form(form) }}
</form>
{% endblock article %}
