{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li class="active">Liste des étapes</li>
</ol>
<h2><span class="glyphicon glyphicon-tasks"></span> Liste des étapes</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_home') }}" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
<a class="btn btn-primary" href="{{ path('imie_skills_state_add') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter une étape</a>
<hr/>
<table class="table table-striped">
  <thead>
    <th>Nom</th>
  </thead>
  <tbody>
    {% for state in states if states is defined %}
    <tr>
      <td>{{ state.statut }}</a></td>
      <td><a href="{{ path('imie_skills_state_modify', {id:state.id}) }}"><span class="glyphicon glyphicon-cog"></span></a></td>
      <td><a href="{{ path('imie_skills_state_delete', {id:state.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock article %}
