{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li class="active">Recherche</li>
</ol>
<h2><span class="glyphicon glyphicon-search"></span> Recherche</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_home') }}" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
<hr/>
<form method="post" action="{{ path('imie_skills_search') }}" {{ form_enctype(form) }}>
  {{ form(form) }}
</form>
{% set proj = false %}
{% set usr = false %}
{% for results in search.results if search is defined %}
{% for result in results %}
{% if result.projectName is defined %}
{% set proj = true %}
{% endif %}
{% if result.userFullName is defined %}
{% set usr = true %}
{% endif %}
{% endfor %}
{% endfor %}
{% if usr is defined %}
{% endif %}
{% if proj == true  %}
<h4>Projets</h4>
<table class="table table-striped">
  <thead>
    <th class="col-md-1"></th>
    <th class="col-md-2">Nom du projet</th>
    <th class="col-md-2">Fondateur</th>
    <th class="col-md-2">Chef de projet</th>
    <th class="col-md-4">Description</th>
    <th class="col-md-1">Avancement</th>
  </thead>
  <tbody>
    {% for results in search.results if search is defined %}
    {% for result in results %}
    {% if result.projectName is defined  %}
    <tr>
      <td><a href="{{ path('imie_skills_project_details', {id:result.id})}}"><img src="{{ asset(result.image.webPath) }}" alt="{{ asset(result.image.imageAlt) }}" width="48" height="48" class="img-rounded"></a></td>
      <td><a href="{{ path('imie_skills_project_details', {id:result.id})}}">{{ result.projectName }}</a></td>
      <td>{{ result.projectDescription }}</td>
      <td>{{ result.creator }}</td>
      <td>{{ result.manager }}</td>
      <td>{{ result.projectProgress }} %</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
<hr/>
{% endif %}
{% if usr == true %}
<h4>Utilisateurs</h4>
<table class="table table-striped">
  <thead>
    <th class="col-md-1"></th>
    <th class="col-md-2">Nom</th>
    <th class="col-md-1">Cursus</th>
    <th class="col-md-8">Description</th>
  </thead>
  <tbody>
    {% for results in search.results if search is defined %}
    {% for result in results %}
    {% if result.userName is defined  %}
    <tr>
      <td><a href="{{ path('imie_skills_user_details', {id:result.id})}}"><img src="{{ asset(result.image.webPath) }}" alt="{{ asset(result.image.imageAlt) }}" width="48" height="48" class="img-circle"></a></td>
      <td><a href="{{ path('imie_skills_user_details', {id:result.id})}}">{{ result.userFullName }}</a></td>
      <td>{{ result.promo.course.course }}</td>
      <td>{{ result.userDescription }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock article %}
