{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<h2><span class="glyphicon glyphicon-knight"></span> Liste des compétences</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_skill_add') }}" role="button"><span class="glyphicon glyphicon-plus"></span> Ajouter une compétence</a>
<hr/>
<table class="table table-striped">
  <thead>
    <th>Nom</th>
    <th>Parent</th>
    <th>Description</th>
  </thead>
  <tbody>
    {% for skill in skills if skills is defined %}
    <tr>
      <td>{{ skill.skillName }}</a></td>
      <td>{% if skill.skillParentId is not null %}{{ skill.skillParentId}}{% else %} ????{%endif %}</td>
      <td>{{ skill.skillDescription }}</td>
      <td><a href="{{ path('imie_skills_skill_modify', {id:skill.id}) }}"><span class="glyphicon glyphicon-cog"></span></a></td>
      <td><a href="{{ path('imie_skills_skill_delete', {id:skill.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    <hr/>
    {% endfor %}
  </tbody>
</table>
{% endblock article %}
