{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<h2>Liste des compétences</h2>
<a href="{{ app.request.headers.get('referer') }}">Retour</a>
<a href="{{ path('imie_skills_skill_add') }}">Ajouter une compétence</a>
<hr/>
<table class="table table-striped">
  <thead>
    <td>Nom</td>
    <td>Parent</td>
    <td>Description</td>
  </thead>
  <tbody>
    {% for skill in skills if skills is defined%}
    <tr>
      <td>{{ skill.skillName }}</a></td>
      <td>{% if skill.skillParentId is not null %}{{ skill.skillParentId}}{% else %} ????{%endif %}</td>
      <td>{{ skill.skillDescription }}</td>
      <td><a href="{{ path('imie_skills_skill_modify', {id:skill.id}) }}">Modifier</a></td>
      <td><a href="{{ path('imie_skills_skill_delete', {id:skill.id}) }}">Supprimer</a></td>
      {% endfor %}
    </tbody>
  </table>
  {% endblock article %}
