{% extends 'ImieSkillsBundle::layout.html.twig' %}
{% block article %}
<h2>Mon profil</h2>
<a href="{{ path('imie_skills_user_addUser)' }}">Créer mon profil</a>
<hr/>
<a href="{{ app.request.headers.get('referer)' }}">Retour</a>
<hr/>
<p>
  <h3>{{ user.userFirstName }}</h3><h3>{{ user.userLastName }}</h3><p>{{ user.userEnable }}</p>
  <p>{{ user.userAdress }}</p>
  <p>{{ user.userMail }}</p>
  <p>{{ user.userPhoneNumber }}</p>
  <p>{{ user.userBirthday }}</p>
  <hr/>
  <p>{{ user.userDescription }}</p>
</p>
{% endblock article %}
