{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li><a href="{{ path('imie_skills_user_details', {id: app.user.id}) }}">Détails de l'utilisateur</a></li>
  <li class="active">Assignation d'une compétence</li>
</ol>
<h2><span class="glyphicon glyphicon-user"></span> Assignation d'une compétence</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_user_details', {id: app.user.id}) }}"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
  <hr/>
  <form method="post" action="{{ path('imie_skills_user_addSkill') }}" {{ form_enctype(form) }}>
    {{ form(form) }}
  </form>
  {% endblock article %}

